# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/.gitattributes
!/Minigin.sln
!/Minigin.sln.DotSettings
!/vld.props

# Folder to not ignore
!/3rdParty/
!/Data/

# Folders to ignore only partially
!/Minigin/
/Minigin/Win32/
/Minigin/x64/
!/QBertGame/
/QBertGame/Debug/
/QBertGame/DebugDLL/
/QBertGame/Release/
/QBertGame/ReleaseDLL/
/QBertGame/x64/
