# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/.gitattributes

# Folder to not ignore
!/Build/
!/Screenshots/

# Folders to ignore only partially
!/Source/
/Source/Win32/
/Source/x64/
/Source/Minigin/Win32/
/Source/Minigin/x64/
/Source/QBertGame/Win32
/Source/QBertGame/x64/
